# render.yaml

services:
  - type: web
    name: blogspot-backend
    env: node
    runtime: node
    repo: https://github.com/Dharchu/BlogSpot.git 
    rootDir: ./backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false # This will be set in the Render dashboard
      - key: JWT_SECRET
        generateValue: true # Render will generate a random string

  - type: static_site
    name: blogspot-frontend
    rootDir: ./frontend
    buildCommand: npm install && npm run build
    staticPublishPath: build

  - type: static_site
    name: blogspot-admin
    rootDir: ./admin-dashboard
    buildCommand: npm install && npm run build
    staticPublishPath: build